<% layout("/layouts/boilerplate") %>

    <div class="filter_container">
        <button id="scrollRightBtn" class="scroll-btn"><i class="fa-solid fa-chevron-left"></i></button>
        <!-- <button id="scrollLeftBtn" class="scroll-btn">◄</button> -->
        <div id="filters">
            <a href="/listings?category=Trending" class="filter">
                <div><img src="/img/trending.jpg" alt="" /></div>
                <p>Trending</p>
            </a>
            <a href="/listings?category=Rooms" class="filter">
                <div><img src="/img/rooms.jpg" alt="" /></div>
                <p>Rooms</p>
            </a>
            <a href="/listings?category=Farms" class="filter">
                <div><img src="/img/farms.jpg" alt="" /></div>
                <p>Farms</p>
            </a>
            <a href="/listings?category=Views" class="filter">
                <div><img src="/img/amazing_views.jpg" alt="" /></div>
                <p>Views</p>
            </a>
            <a href="/listings?category=Pools" class="filter">
                <div><img src="/img/amazing_pools.jpg" alt="" /></div>
                <p>Pools</p>
            </a>
            <a href="/listings?category=Beachfront" class="filter">
                <div><img src="/img/beachfront.jpg" alt="" /></div>
                <p>Beachfront</p>
            </a>
            <a href="/listings?category=Tropicals" class="filter">
                <div><img src="/img/tropical.jpg" alt="" /></div>
                <p>Tropicals</p>
            </a>
            <a href="/listings?category=Cabins" class="filter">
                <div><img src="/img/cabins.jpg" alt="" /></div>
                <p>Cabins</p>
            </a>
            <a href="/listings?category=Lakefront" class="filter">
                <div><img src="/img/lakefront.jpg" alt="" /></div>
                <p>Lakefront</p>
            </a>
            <a href="/listings?category=Castles" class="filter">
                <div><img src="/img/castle.jpg" alt="" /></div>
                <p>Castles</p>
            </a>
            <a href="/listings?category=Countryside" class="filter">
                <div><img src="/img/countryside.jpg" alt="" /></div>
                <p>Countryside</p>
            </a>
            <a href="/listings?category=Treehouse" class="filter">
                <div><img src="/img/treehouse.jpg" alt="" /></div>
                <p>Treehouse</p>
            </a>
            <a href="/listings?category=Pianos" class="filter">
                <div><img src="/img/grand_pianos.jpg" alt="" /></div>
                <p>Pianos</p>
            </a>
            <a href="/listings?category=Camping" class="filter">
                <div><img src="/img/camping.jpg" alt="" /></div>
                <p>Camping</p>
            </a>
            <a href="/listings?category=Islands" class="filter">
                <div><img src="/img/islands.jpg" alt="" /></div>
                <p>Islands</p>
            </a>
            <a href="/listings?category=Casas" class="filter">
                <div><img src="/img/casas.jpg" alt="" /></div>
                <p>Casas</p>
            </a>
            <a href="/listings?category=Arctic" class="filter">
                <div><img src="/img/Arctic.jpg" alt="" /></div>
                <p>Arctic</p>
            </a>
            <a href="/listings?category=Beach" class="filter">
                <div><img src="/img/beach.jpg" alt="" /></div>
                <p>Beach</p>
            </a>
            <a href="/listings?category=Lake" class="filter">
                <div><img src="/img/lake.jpg" alt="" /></div>
                <p>Lake</p>
            </a>
        </div>
        <button id="scrollLeftBtn" class="scroll-btn"><i class="fa-solid fa-chevron-right"></i></button>
        <!-- <button id="scrollRightBtn" class="scroll-btn">►</button> -->
        <div class="filter-btn fw-bold border m-2" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fa-solid fa-sliders me-1"></i>Filters
        </div>

        <div class="form-check-reverse form-switch tax_on_off border m-2">
            <input class="form-check-input fs-6" type="checkbox" role="switch" id="tax_switch" onclick="tax_switch()">
            <label class="form-check-label tax_switch_label" for="tax_switch">Display Total Before Taxes</label>
        </div>
    </div>
    <% if (search) { %>
        <h3 class="search_result">Search results for: <span class="res_color"><%- search %></span> </h3>
        <% } %>
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
                <% if (allListings.length===0) { %>
                    <h1 class="search_result">No Listings with this category</h1>
                    <% } %>
                        <% for( let listing of allListings) { %>
                            <a href="/listings/<%= listing._id %>">
                                <div class="card col">
                                    <div class="img_container">
                                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing[image]">
                                    </div>
                                    <!-- <div class="card-img-overlay"></div> -->
                                    <div class="card-body">
                                        <p class="card-text pt-1"><b>
                                                <%= listing.title %>
                                            </b></p>
                                        <p class="card-text">
                                            <p class="price-container">
                                                <span class="price fw-semibold">&#8377; <%= listing.price.toLocaleString("en-IN") %></span>
                                                <span class="priceAfterTax fw-semibold">&#8377; <%= listing.priceAfterTax.toLocaleString("en-IN") %></span>
                                                / night 
                                            </p>
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <% } %>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const scrollContainer = document.getElementById("filters");
                    const scrollLeftBtn = document.getElementById("scrollLeftBtn");
                    const scrollRightBtn = document.getElementById("scrollRightBtn");

                    // Function to scroll left
                    scrollLeftBtn.addEventListener("click", function () {
                        scrollContainer.scrollBy({
                            left: -500, // Adjust as needed
                            behavior: "smooth"
                        });
                    });

                    // Function to scroll right
                    scrollRightBtn.addEventListener("click", function () {
                        scrollContainer.scrollBy({
                            left: 500, // Adjust as needed
                            behavior: "smooth"
                        });
                    });
                });

            </script>
            <script src="/js/priceAfterTax.js"></script>