<% layout("/layouts/boilerplate") %>
<div class="mt-5">
    <h1 class="my-2">My Bookings</h1>
    <% if (bookings.length - paidBookings.length > 0) { %>
        <div class="row my_bookings">
            <% bookings.forEach(booking => { %>
                <% if (booking.status === "Booked") { %>
                    <div class="row my-3">
                        <div class="booking-item gap-4 align-items-center">
                            <a href="/listings/<%= booking.listing._id %>">
                                <img src="<%= booking.listing.image.url %>" class="rounded dash_img" alt="<%= booking.listing.title %>">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><%= booking.listing.title %></h5>
                                <p class="card-text">Location: <%= booking.listing.location %></p>
                                <p class="card-text">Final Price: <%= booking.totalRent %></p>
                                <p class="card-text">Country: <%= booking.listing.country %></p>
                                <p class="card-text">Booked on: <b><%= booking.createdAt.toDateString() %></b> </p>
                                <form action="/listings/<%= booking.listing._id %>/book?_method=DELETE" method="POST">
                                    <button class="btn btn-outline-danger">Cancel Booking</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    <% } else { %>
        <p>You have no bookings yet.</p>
    <% } %>
</div>

<% if (bookings.length - paidBookings.length > 0) { %>
   <div class="">
    <form class="m-2 checkout_btn_form" action="/checkout" method="GET">
        <button class="btn btn-outline-primary">Checkout</button>
    </form>
   </div>
<% } %>



<!-- Display paid bookings -->
<div class="mt-5">
    <!-- <hr> -->
    <h1 class="my-2">Paid Bookings</h1>
    <% if (paidBookings.length > 0) { %>
        <div class="row my_bookings">
            <% paidBookings.forEach(paidBooking => { %>
                <div class="row my-3">
                    <div class="booking-item gap-4 align-items-center">
                        <a href="/listings/<%= paidBooking.listing._id %>">
                            <img src="<%= paidBooking.listing.image.url %>" class="rounded dash_img" alt="<%= paidBooking.listing.title %>">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><%= paidBooking.listing.title %></h5>
                            <p class="card-text">Location: <%= paidBooking.listing.location %></p>
                            <p class="card-text">Price: <%= paidBooking.totalRent %></p>
                            <p class="card-text">Country: <%= paidBooking.listing.country %></p>
                            <p class="card-text">Booked on: <b><%= paidBooking.createdAt.toDateString() %></b> </p>
                            <!-- <form action="/listings/%= paidBooking.listing._id %>/book?_method=DELETE" method="POST">
                                <button class="btn btn-outline-danger">Cancel Booking</button>
                            </form> -->
                            <!-- <form action="/download-receipt/%= listing._id %>">
                                    <button class="btn btn-outline-light text-dark">Download receipt</button>
                            </form> -->
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>You have no paid bookings yet.</p>
    <% } %>
</div>